
:root {
    --primary-color: #dd3333;
    --secondary-color: #0f6056;

    --background-color: #dbdbdb;
    --header-background-color: #dd9933;

    --button-root-color: #1e73be;
    --button-hover-color: #eeee22;

    --headline-xs: ;
    --headline-s: ;
    --headline-m: ;
    --headline-l: ;
    --headline-xl: ;
    --headline-xxl: ;
    
}