
:root {
    --primary-color: #dd3333;
    --secondary-color: #0f6056;

    --body-background-color: #efefef;
    --header-background-color: #ffffff;
    --footer-background-color: #8b8b8b;

    --button-root-color: #ff2b2b;
    --button-hover-color: #000000;

    --headline-xs: 24px;
    --headline-s: 26px;
    --headline-m: 28px;
    --headline-l: 34px;
    --headline-xl: 48px;
    --headline-xxl: 60px;
    --body-text-size: 18px;

    --inner-content-width: 1400px;
    --inner-header-width: 1400px;
    --inner-footer-width: 1400px;

    --font-family-heading: 'DIN 2014', sans-serif;;
    --font-family-text: 'DIN 2014', sans-serif;;

    --font-color-heading: #8224e3;
    --font-color-text: #81d742;
    --font-color-header: #dd3333;
    --font-color-footer: #eeee22;
    --font-color-header-hover: #dd9933;
    --font-color-footer-hover: #dd3333;
}