h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-heading);
  line-height: 1.2;
}

.header-img-heading h1 {
  color: #ffffff;
  font-size: 60px;
}

p {
  font-family: var(--font-family-text);
}

.home h1.wp-block-heading {
  font-size: var(--headline-xxl);
}

.home h2.wp-block-heading {
  font-size: var(--headline-xl);
}

h3.wp-block-heading {
  font-size: var(--headline-l);
}

h4.wp-block-heading {
  font-size: var(--headline-m);
}

h5.wp-block-heading {
  font-size: var(--headline-s);
}

h6.wp-block-heading {
  font-size: var(--headline-xs);
}
